doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/dev.css")
    title DEVELOPMENT
    body
      canvas(id="background-canvas")
      div(id="menu")
        button(onclick="toggleMenu()" id="menu-toggle") Menu
        button(onclick="menuLogin()") Login
        button(onclick="menuCentres()") Centres
        button(onclick="menuNewsfeed()") Newsfeed
        button(onclick="menuAdmin()" id="menu-admin") Admin
      div(id="main-container", class="container")
        div(id="login-container", class="container closed")
          div(id="login-form")
            label Email:
            input(type="email", placeholder="example@email.com")
            label Password:
            input(type="password", placeholder="password")
            button Login
            button Register
        div(id="centres-container", class="container open")
          div(id="centres")
            div(class="centre-card")
              p name
              img
              p location
              p next available course
            div(class="centre-card")
              p name
              img
              p location
              p next available course
            div(class="centre-card")
              p name
              img
              p location
              p next available course
            div(class="centre-card")
              p name
              img
              p location
              p next available course
            div(class="centre-card")
              p name
              img
              p location
              p next available course
            div(class="centre-card")
              p name
              img
              p location
              p next available course
            div(class="centre-card")
              p name
              img
              p location
              p next available course
            div(class="centre-card")
              p name
              img
              p location
              p next available course
        div(id="newsfeed-container", class="container closed")
          div(class="news-card")
            p title
            img
            p date
            p author
            p description
          div(class="news-card")
            p title
            img
            p date
            p author
            p description
          div(class="news-card")
            p title
            img
            p date
            p author
            p description
          div(class="news-card")
            p title
            img
            p date
            p author
            p description
            
        div(id="admin-container", class="container closed")
          h1 Admin
      script(src="scripts/dev.js")
      script(src="scripts/disolving-background.js")
