doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/dev.css")
    title DEVELOPMENT
    body
      div(id="menu")
        button(onclick="toggleMenu()" id="menu-toggle") Wheel Out
        button(onclick="menuLogin()") Login
        button(onclick="menuCentres()") Centres
        button(onclick="menuNewsfeed()") Newsfeed
        button(onclick="menuAdmin()") Admin
      div(id="main-container", class="container")
        div(id="login-container", class="container closed")
          h1 Login
        div(id="centres-container", class="container open")
          h1 Centres
        div(id="newsfeed-container", class="container closed")
          h1 Newsfeed
        div(id="admin-container", class="container closed")
          h1 Admin
      script(src="scripts/dev.js")
