doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/dev.css")
    title DEVELOPMENT
    body
      div(id="sidebar")
        div(class="sidebar-item")
          div(class="sidebar-item-drawer")
            label Email
            input
            label Password
            input
            div
              button Login
              button Register
          div(class="sidebar-item-content")
            img(src="/images/ph-img.svg")
            p Login / Register

        div(class="sidebar-item")
          div(class="sidebar-item-content")
            img(src="/images/ph-img.svg")
            p Centres Worldwide

      div(id="container")
        h1 Centres Worldwide
        p Centre1
        p Centre2
        p Centre3
        p Centre4
        p Centre5
        p Centre6
        p Centre7
        p Centre8

      script(src="scripts/dev.js")
