$dark-blue: #000033
$light-blue: #9999FF

body
  margin: 0
  padding: 0
  width: 100vw
  height: 100vh

h1
  margin: 0

p
  margin: 0

#background-canvas
  position: absolute
  z-index: -2

.container
  display: flex
  height: 100%
  align-items: center
  justify-content: space-around
  overflow: hidden
  transition: 0.5s
  .open
    width: 100%
  .closed
    width: 0%

#menu
  display: flex
  flex-flow: nowrap column
  justify-content: space-around
  height: 100%
  background: $dark-blue
  position: fixed
  box-shadow: 0 0 1rem 0.5rem $dark-blue
  button
    margin: 0
    padding: 1.5rem 4rem
    background: 0
    border: 0.1rem solid $light-blue
    border-left: 0
    border-right: 0
    color: $light-blue
    font-weight: bold
    font-size: 1.2rem
    &:hover
      background: $light-blue
      color: $dark-blue


#menu-admin
  display: none

#main-container

#login-form
  background: $dark-blue
  padding: 2rem
  display: flex
  flex-flow: nowrap column
  border-radius: 0.5rem
  box-shadow: 0 0 1rem 0.5rem $dark-blue
  label
    color: $light-blue
  input
    margin-top: 0.5rem
    margin-bottom: 2rem
    padding: 0.5rem
    font-weight: bold
    border-radius: 0.3rem
  button
    background-color: $light-blue
    margin: 0.5rem
    border-radius: 0.1rem
    padding: 0.5rem
    font-weight: bold

#centres
  width: 60%
  height: 100%
  display: flex
  flex-flow: wrap row
  justify-content: center

.centre-card
  background: $dark-blue
  margin: 1rem
  padding: 1rem

#newsfeed-container
  flex-flow: nowrap column
  overflow-y: scroll

.news-card
  background: $dark-blue
  width: 60%
  padding: 2rem
  margin-top: 1rem

#admin-container
