body{
  background-color: pink;
  display: flex;
  flex-flow: nowrap row;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#sidebar{
  background-color: purple;
  width: 150px;
  height: 100%;
}

.sidebar-item{
  background-color: green;
  height: 20%;
  margin-top: 10px;
}

.sidebar-item-drawer{
  background-color: lime;
  width: 0;
  height: 19%;
  overflow: hidden;
  margin-left: 150px;
  position: fixed;
  z-index: 1;
}

.sidebar-item:hover .sidebar-item-drawer{
  width: 200px;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid green;
  border-left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.sidebar-item:hover .sidebar-item-drawer div{
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  width: 100%;
  height: 1.5rem;
}

.sidebar-item-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: center;
}

#container{
  margin-left: 20px;
}
